[project]
name=Solitaire (v1.1)
desc=Implementation of the Solitaire card game with JavaFX.
ifile=D:\HnV-software-knowledge-analysis\test\case-studies\extracted-knowledge-graph\solitaire-v1.1-clean.json
; uncomment the ifile below and comment the ifile above if you have done the ASCS & DSAR and want to do Features Identification
; ifile=D:\HnV-software-knowledge-analysis\test\output\1-ASCS-and-DeductiveSAR\Solitaire (v1.1)-ascs-dsar-gpt-4o-mini-20240727-224730.json

[openai]
apikey=apikey
apibase=http://localhost:8000/v1
model=gpt-3.5-turbo

[neo4j]
url=bolt://localhost:7687
username=neo4j
password=p4ssw0rd
